.section-animated-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.section-animated-background__container {
  opacity: 0.55;
  position: relative;
}

.section-animated-background__svg-square,
.section-animated-background__svg-box {
  display: block;
  position: absolute;
  /* opacity: 0; */
  transition: opacity 500ms ease, transform 1000ms ease;
}

.section-animated-background__svg-square {
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 4%);
}

.section-animated-background__svg-square--1 {
  width: 90px;
  height: 90px;
  top: 143px;
  left: 29px;
}

svg:not(:root) {
  overflow: hidden;
}

.section-animated-background__svg-square--2 {
  width: 40px;
  height: 40px;
  top: 85px;
  left: 216px;
}
.section-animated-background__svg-square--3 {
  width: 224px;
  height: 224px;
  top: 423px;
  left: 21px;
}

.section-animated-background__svg-square--4 {
  width: 40px;
  height: 40px;
  top: 737px;
  left: 152px;
}

.section-animated-background__svg-square--5 {
  width: 152px;
  height: 152px;
  top: 62px;
  left: 404px;
}

.section-animated-background__svg-square--6 {
  width: 40px;
  height: 40px;
  top: 169px;
  left: 641px;
}

.section-animated-background__svg-square--7 {
  width: 224px;
  height: 224px;
  top: 270px;
  left: 680px;
}

.section-animated-background__svg-square--8 {
  width: 100px;
  height: 100px;
  top: 62px;
  left: 793px;
}

.section-animated-background__svg-square--9 {
  width: 170px;
  height: 170px;
  top: 190px;
  right: 36px;
}

.section-animated-background__svg-square--10 {
  width: 83px;
  height: 83px;
  top: 380px;
  left: 300px;
}

.section-animated-background__svg-square--11 {
  width: 248px;
  height: 248px;
  top: 565px;
  left: 366px;
}

.section-animated-background__svg-box--1 {
  width: 212px;
  height: 212px;
  top: 250px;
  left: 416px;
}

.section-animated-background__svg-box--2 {
  width: 190px;
  height: 190px;
  top: 555px;
  right: 37px;
}

.section-columns--feature-carousel .section-columns__container {
  padding: 60px 0 0;
}
.section-columns__column--desktop-only {
  display: none;
}

.section-columns--feature-carousel .section-columns__column--feature-details {
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  width: 100%;
  height: 100vw;
  max-height: 300px;
  padding: 80px 20px;
}

.section-columns--feature-carousel .section-columns__column--mobile-only {
  justify-content: center;
  align-items: center;
}
.section-columns__column__images {
  width: 100%;
  height: auto;
  order: 1;
}
.section-columns--feature-carousel
  .section-columns__column--mobile-only
  .section-columns__column__images {
  order: 2;
  max-width: 260px;
  margin-bottom: 80px;
}
.section-columns__column__image--ios {
  display: none;
}

.section-columns--feature-carousel
  .section-columns__column--max-width
  .section-columns__column__images {
  max-width: calc(100% - 20px);
  margin-inline: auto;
}

.section-columns__column__title {
  max-width: 270px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
}

.section-columns__column__title {
  order: 4;
}

.section-columns__column--one-column .section-columns__column__title {
  max-width: 100%;
  margin-left: 0;
  margin-bottom: 40px;
  text-align: center;
}

.section-columns--feature-carousel
  .section-columns__column--mobile-only
  .section-columns__column__title {
  order: 1;
  max-width: 300px;
  font-size: 18px;
  line-height: 24px;
}

.section-columns--feature-carousel
  .section-columns__column__title--visual-puzzles::before,
.section-columns--feature-carousel
  .section-columns__column__title--laptop-tablet::before,
.section-columns--feature-carousel
  .section-columns__column__title--industry-standard::before,
.section-columns--feature-carousel
  .section-columns__column__title--feedback::before,
.section-columns--feature-carousel
  .section-columns__column__title--achievements::before {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  background-size: contain;
  margin: 0 0 10px -25px;
}

.section-columns--feature-carousel
  .section-columns__column__title--visual-puzzles::before {
  background-image: url("../public/second-column-imgs/icon1_visual_puzzles.png");
}

.section-columns--feature-carousel
  .section-columns__column__title--industry-standard::before {
  background-image: url("../public/second-column-imgs/icon2_industry_standard.png");
}
.section-columns--feature-carousel
  .section-columns__column__title--feedback::before {
  background-image: url("../public/second-column-imgs/icon3_feedback.png");
}

.section-columns--feature-carousel
  .section-columns__column__title--achievements::before {
  background-image: url("../public/second-column-imgs/icon4_achievements.png");
}

.section-columns--feature-carousel
  .section-columns__column__title--laptop-tablet::before {
  background-image: url("../public/second-column-imgs/icon5_laptop_tablet.png");
}

.section-columns--feature-carousel .section-columns__column--handheld-device {
  position: relative;
  left: 80px;
  height: 423.81944px;
  flex: 1 0 0;
}

.section-columns--feature-carousel
  .section-columns__column--feature-details
  + .section-columns__column {
  padding-left: 40px;
}

.section-columns__column__slide {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.section-columns__column__slide--hand-with-device {
  width: 359px;
  height: 485px;
}

.section-columns__column__slide--laptop {
  top: 50%;
  width: 710.52083px;
  height: 354.01389px;
  transform: translateY(-50%);
  left: -25%;
}

.section-columns--feature-carousel
  .section-columns__column__slides--features-embedded
  .section-columns__column__slide {
  opacity: 0;
}

.section-columns__column__slide--previous {
  z-index: 1;
}

.section-columns__column__slide--active {
  z-index: 2;
  animation: 600ms ease 0ms 1 normal both fadeIn;
  animation-duration: 500ms;
}

.section-columns--feature-carousel
  .section-columns__column__slides--features-embedded
  .section-columns__column__slide--active {
  animation-duration: 800ms;
}

@media screen and (min-width: 718px) {
  .section-columns--feature-carousel .section-columns__container {
    padding: 80px 0;
  }
  .section-columns__column--mobile-only {
    display: none;
  }
  .section-columns__column--desktop-only {
    display: flex;
  }

  .section-columns--feature-carousel .section-columns__column--feature-details {
    width: auto;
    height: auto;
    max-height: none;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .section-columns--feature-carousel .section-columns__column__titles--features,
  .section-columns--feature-carousel .section-columns__column__carousel {
    padding-left: 60px;
  }
  .section-columns--feature-carousel
    .section-columns__column__titles--features {
    left: 60px;
    height: 100px;
    margin-bottom: 30px;
    width: auto;
  }
  .section-columns__column__title {
    font-size: 26px;
    max-width: none;
    width: 100%;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 40px;
  }
  .section-columns--feature-carousel
    .section-columns__column__titles--features
    .section-columns__column__title {
    font-size: 28px;
    line-height: 30px;
    min-width: 360px;
  }
  .section-columns--feature-carousel
    .section-columns__column__title--visual-puzzles::before,
  .section-columns--feature-carousel
    .section-columns__column__title--laptop-tablet::before,
  .section-columns--feature-carousel
    .section-columns__column__title--industry-standard::before,
  .section-columns--feature-carousel
    .section-columns__column__title--feedback::before,
  .section-columns--feature-carousel
    .section-columns__column__title--achievements::before {
    position: absolute;
    top: -75px;
    left: 25px;
  }
  .section-columns--feature-carousel
    .section-columns__column--feature-details
    + .section-columns__column {
    padding-left: 0;
  }

  .section-columns--feature-carousel .section-columns__column--handheld-device {
    height: calc(423.81944px + 426.18056 * (100vw - 718px) / 722);
  }

  .section-columns--feature-carousel
    .section-columns__column__slides--features-embedded {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .section-columns__column__slide--hand-with-device {
    width: calc(359px + 252 * (100vw - 718px) / 722);
    height: calc(485px + 341 * (100vw - 718px) / 722);
  }
  .section-columns__column__slide--laptop {
    width: calc(710.52083px + 714.47917 * (100vw - 718px) / 722);
    height: calc(354.01389px + 355.98611 * (100vw - 718px) / 722);
  }
}
@media screen and (min-width: 1024px) {
  .section-columns--feature-carousel .section-columns__column__titles--features,
  .section-columns--feature-carousel .section-columns__column__carousel {
    padding-left: 130px;
  }
  .section-columns--feature-carousel
    .section-columns__column__titles--features {
    height: 140px;
    left: 130px;
  }
  .section-columns--feature-carousel
    .section-columns__column__titles--features
    .section-columns__column__title {
    font-size: 36px;
    line-height: 46px;
    min-width: 460px;
  }
}

@media screen and (min-width: 1440px) {
  .section-columns--feature-carousel .section-columns__column--handheld-device {
    height: 850px;
  }
  .section-columns__column__slide--hand-with-device {
    width: 611px;
    height: 826px;
  }
  .section-columns__column__slide--laptop {
    width: 1425px;
    height: 710px;
  }
}
