@font-face {
  font-family: "GT America Regular";
  src: url("../public/fonts/GT\ America\ Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GT America Medium";
  src: url("../public/fonts/GT\ America\ Medium.woff") format("woff");
}

@font-face {
  font-family: "GT America Bold";
  src: url("../public/fonts/GT\ America\ Bold.woff") format("woff");
}

html,
body {
  background-color: #fcfcfc;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: "GT America", Helvetica, arial, sans-serif;
  color: #002c43;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}
@media (min-width: 718px) {
  html,
  body {
    font-size: 20px;
    line-height: 28px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  color: #002c43;
  text-decoration: none;
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

main {
  position: relative;
}

.button,
.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  color: #002c43;
  background-color: #45c14e;
  border: none;
  border-radius: 50px;
  appearance: none;
  text-decoration: none;
}

.cta-button {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
}

.cta-button.start-coding,
.cta-button.get-the-app {
  max-width: 260px;
  padding: 15px 50px;
  margin-inline: 0;
  color: #fff;
  background-color: #45c14e;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  border-radius: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes traceIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes traceOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate3d(101%, 0, 0);
  }
}
